@charset "UTF-8";

.canvas {
  width: 602px;
  height: 400px;
  border: 1px solid gray;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;

  div {
    width: 20px;
    height: 20px;
    border: 0px solid red;
    border-radius: 50%;
  }
}

.snake {
  background-color: black;
}

.food {
  background-color: yellowgreen;
}