.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.puzzle-game {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.puzzle-game-board-3 {
    width: 300px;
}
.puzzle-game-board-4 {
    width: 360px;
}
.puzzle-game-board-5 {
    width: 375px;
}

.puzzle-game-board-3 .square {
    width: 100px;
    height: 100px;
}
.puzzle-game-board-4 .square {
    width: 90px;
    height: 90px;
}
.puzzle-game-board-5 .square {
    width: 75px;
    height: 75px;
}

.puzzle-game-info {
    margin-left: 20px;
    padding-left: 5px;
    width: 400px;
    height: 300px;
    overflow-y: scroll;
    border: 1px solid pink;
}